{% extends 'base.html.twig' %}
{% block title %}propos{% endblock %}

{% block body %}

<div class="container-md">
{{ form(form) }}
</div>

 <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>
{% endblock %}
