{% if form %}
	{{ form_start(form) }}
	<div class="d-flex">
			{{ form_widget(form.q)}}
			{{ form_errors(form.q) }}
		<button class="btn btn-secondary my-2 my-sm-0" type="submit">OK</button>
	</div>
	{{ form_end(form) }}
{% endif %}
