{% extends 'base.html.twig' %}

{% block title %}acceuil{% endblock %}

{% block body %}
<div class="mainpage" style="background-image: url('{{asset('images/backimg.jpeg')}}')">
    <div class="mainpageombre">
        <center class="centermain">
            <h4 id="text" class="h4"><b>BIENVENUE SUR NWM ,DES REPONSES A VOS QUESTIONS SUR LE MONDE INFORMATIQUE</b><h4> <br>
            <img src="{{asset('images/logoapp.png')}}"><br>
            <button class="button" ><span><a href="{{path('app_register')}}">Débutez !</a></span></button>
        </center>
    </div>
</div>
<script>
    var text = document.getElementById('text');
    var splitText = text.innerText.split('');

    text.innerHTML = '';
    i = 0
    setInterval(function(){
        AjoutDeLettre()}
        , 100 )

    function AjoutDeLettre(){
    if(i < splitText.length){
        text.innerHTML += splitText[i];
        i++;
    }
    }
</script>
{% endblock %}
