{% extends 'base.html.twig' %}

{% block title %}acceuil{% endblock %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active ">
            <img src="{{asset('images/backimg.jpeg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{{asset('images/programming-background-collage.jpg')}}" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item ">
            <img src="{{asset('images/professional-programmer-working-late-dark-office.jpg')}}" class="d-block w-100 " alt="...">
        </div>
    </div>
</div>

{% endblock %}
